* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Colors */
    /* ### Primary */
--blue: hsl(246, 80%, 60%);
--lighterRed: hsl(15, 100%, 70%);
--softBlue: hsl(195, 74%, 62%);
--lightRed: hsl(348, 100%, 68%);
--limeGreen: hsl(145, 58%, 55%);
--violet: hsl(264, 64%, 52%);
--softOrange: hsl(43, 84%, 65%);

/* ### Neutral */

--veryDarkBlue: hsl(226, 43%, 10%);
--darkBlue: hsl(235, 46%, 20%);
--darkBlueHover: hsl(241, 34%, 28%);
--desaturatedBlue: hsl(235, 45%, 61%);
--paleBlue: hsl(236, 100%, 87%);
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--veryDarkBlue);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1210px;
    min-width: 860px;
    height: 600px;
    min-height: 600px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 30px;   
}

.card, .person {
    background-color: var(--darkBlue);
    border-radius: 15px;
    color: white;
}

.infos {
    background-color: var(--blue);
    height: 70%;
    border-radius: 15px;
    padding-left: 33px;
    padding-top: 33px;
}

.infos img {
    width: 110px;
    height: 110px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 43px;
}

.infos .name span {
    display: block;
    color: var(--paleBlue);
}

.infos .name h1 {
    font-size: 50px;
    font-weight: 400;
}

.links-div {
    height: 30%;
    padding: 0px  0px 10px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.links {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: var(--paleBlue);
}

.links a:hover, .links a:active {
    color: white;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.stats > div {
    border-radius: 15px;
    overflow: hidden;
}

#work {
    background: var(--lighterRed);
}

#play {
    background: var(--softBlue);
}

#study {
    background: var(--lightRed);
}

#exercise {
    background: var(--limeGreen);
}

#social {
    background: var(--violet);
}

#self-care {
    background: var(--softOrange);
}

.logos {
   position: relative;
   float: right;
   z-index: 1;
   margin-right: 20px;
   margin-top: -3px;
}

.hours {
    position: relative;
    bottom: -50px;
    z-index: 2;
    width: 100%;
    height: 90%;
    padding: 30px;
    padding-right: 0px;
}

.hours:hover {
    background: var(--darkBlueHover);
    cursor: pointer;
}

.hours h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
}

.hours a {
    float: right;
    margin-right: -60px;
}

.hours p {
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;

}

.hours span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: var(--paleBlue);
    margin-top: 20px;
}

@media(max-width: 860px) {
    .container {
        grid-template-columns: 100%;
        min-width: 320px;
        margin: 0 30px 0 30px;
    }

    .name{
        display: inline-block;
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
    }

    .infos .name h1 {
        font-size: 40px;
    }

    .links-div {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .stats {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .hours {
        min-width: 320px;
        min-height: 224px;
        padding: 30px 0 0 10px;
    }

    .hours > div {
        width: 100%;
    }

    .hours p {
        display: inline-block;
        align-self: flex-start;
        font-size: 40px;
    }

    .hours span {
        float: right;
        margin-top: 40px;
        margin-right: -20px;
    }

    #exercise span {
        margin-right: 80px;
    }
}

@media(max-width: 540px) {
    .infos .name h1 {
        font-size: 35px;
    }
}